.creatingForm {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creatingFormField{
    
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
}